<h1 class="text-center">Cadastro</h1>
<p class="alert-danger">{{msgLogin}}</p>
<p class="alert-danger">{{msgSenha}}</p>
<p class="alert-danger">{{msgCpf}}</p>
<form ng-submit="cadastrar()">
    <div class="form-group" >
        <label>Login</label>
        <input type="text" class="form-control" ng-model="user.login" ng-blur="verificaLogin()" ng-value=" ">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" ng-model="user.password">
    </div>
    <div class="form-group">
        <label>Confirme sua Senha</label>
        <input type="password" class="form-control" ng-model="user.passwordc" ng-blur="verificaSenha()"ng-value=" ">
    </div>
    <div class="form-group">
        <label>Cpf</label>
        <input type="text" class="form-control" ng-model="user.cpf" ng-blur="verificaCpf()">
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary"  ng-disabled="bloqueiacadastro" ng-value=" ">   
</form>