<h1 class="text-center">Cadastro</h1>
<p class="alert-danger">{{menssagem}}</p>
<form ng-submit="cadastrar()">
    <div class="form-group" >
        <label>Login</label>
        <input type="text" class="form-control" ng-model="user.login">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" ng-model="user.password">
    </div>
    <div class="form-group">
        <label>Cpf</label>
        <input type="text" class="form-control" ng-model="user.cpf">
    </div>
    <input type="submit" value="Cadastrar" class="btn btn-primary">   
  
</form>